params {
    metadata = "$projectDir/assets/sample_metadata.csv"
    outdir = "$projectDir/results/"
    filter_min_genes = 200
    filter_max_genes = 2500
    filter_max_pct_mt = 5.0
    normalization_target_sum = 10000
    celltypist_model = 'Immune_All_High.pkl'
    feature_selection_n_top_genes = 2000
    dimensionality_reduction_n_pcs = 30
    dimensionality_reduction_n_neighbors = 15
    dimensionality_reduction_umap_min_dist = 0.5
    clustering_resolution = 1.0
    clustering_random_seed = 0
    identify_markers_n_top_markers = 100
}

profiles {
    docker {
        docker.enabled = true
    }
}

process {
    container = 'sc-nextflow:1.0'
}